body{
    color: white;
    background-color: #555446;
    overflow: hidden;
    position: fixed;
    font-size: 200%;
    
}

.btn-div{
    position: fixed;
    right: 0.5rem;
    margin-top: 0.5rem;
}

button{
    border: none;
    border-radius: 0.6rem;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    background-color: #ef971e;
    padding-top: 0.5rem;
}

#keycost{
    padding: 0.8rem;
}

.aembar{
    z-index: 2;
    width: 30rem;
}

.key{
    width: 8.5rem;
    position: absolute;
    top: 0rem;
}
#key02{
    margin-top: 8.5rem;
}
#key03{
    margin-top: 17rem;
}

.pile{
    position: fixed;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 15rem;
    right: -1rem;
    top: 8rem;
}

#card{
    display: flex;
    justify-content: center;
}

.card-image{
    position: fixed;
    height: 14rem;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    right: 1.5rem;
}

@media (min-height: 805px){
    .card-image{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        height: auto;
        width: 110vw;
        bottom: 4rem;
        right: -1.5rem;
    }
}